# nodejs
node_modules

# yarn
yarn-error.log

# ansible
ansible/inventory
ansible/**/__pycache__

# gantree
gantree_config.json
setup_env_vars.sh
*gantree-cli*.tgz

# unknown
build/*
.env

# terraform
tfstate
tfstate.backup
