# nodejs
node_modules

# eslint
.eslintcache

# yarn
yarn-error.log

# ansible
ansible/inventory
ansible/**/__pycache__
*.pyc

# gantree
gantree_config.json
setup_env_vars.sh
*gantree-lib*.tgz
/combined.log
/error.log

# gantree-inventory
/inventory/*/*

# unknown
build/*
.env

# terraform
tfstate
tfstate.backup
