# nodejs
node_modules

# yarn
yarn-error.log

# ansible
ansible/inventory
ansible/**/__pycache__

# gantree
config/main.json
setup_env_vars.sh

# unknown
build/*
.env

# terraform
tfstate
tfstate.backup
