[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
boto = "*"
boto3 = "*"
botocore = "*"
requests = "*"
google-auth = "*"

[dev-packages]

[requires]
python_version = "3.7"
