[Unit]
Description=Substrate Node

[Service]
User=gropius_user
Group=substrate
ExecStart=/usr/local/bin/substrate \
         --name {{ project|default('project') }}-sv-validator-{{ groups['validator'].index(inventory_hostname) }} \
         --validator \
         {% if hostvars[inventory_hostname].loggingFilter is defined and hostvars[inventory_hostname].loggingFilter|length %}
         -l{{ hostvars[inventory_hostname].loggingFilter }} \
         {% endif %}
         --chain={{ chain }} \
         {% if hostvars[inventory_hostname].telemetryUrl is defined and hostvars[inventory_hostname].telemetryUrl|length %}
         --telemetry-url '{{ hostvars[inventory_hostname].telemetryUrl }} 1'
         {% else %}
         --no-telemetry
         {% endif %}

Restart=always

[Install]
WantedBy=multi-user.target
