[Unit]
Description=Substrate Node

[Service]
User={{ substrate_user }}
Group={{ substrate_group }}
ExecStart=/usr/local/bin/{{ substrate_bin_name }} \
         --name {{ project|default('project') }}-sv-validator-{{ groups['validator'].index(inventory_hostname) }} \
         --validator \
         {% if hostvars[inventory_hostname].loggingFilter is defined and hostvars[inventory_hostname].loggingFilter|length %}
         -l{{ hostvars[inventory_hostname].loggingFilter }} \
         {% endif %}
         {% if substrate_chain_argument is defined and substrate_chain_argument != 'false' %}
         --chain={{ substrate_chain_argument }} \
         {% elif substrate_use_default_spec is undefined or substrate_use_default_spec == 'false' %}
         --chain={{ substrate_chain }} \
         {% endif %}
         {% if substrate_bootnode_argument is defined and substrate_bootnode_argument|length %}
           {% for bootnode in substrate_bootnode_argument %}
           --bootnodes={{bootnode}} \
           {% endfor %}
         {% endif %}
         {% if substrate_telemetry_argument is defined and substrate_telemetry_argument == 'false' %}
         --no-telemetry
         {% endif %}

Restart=always

[Install]
WantedBy=multi-user.target
