[Unit]
Description=Substrate Node

[Service]
User={{ substrate_user }}
Group={{ substrate_group }}
ExecStart=/usr/local/bin/{{ substrate_bin_name }} \
         --name {{ project|default('project') }}-sv-validator-{{ groups['validator'].index(inventory_hostname) }} \
         --validator \
         {% if hostvars[inventory_hostname].loggingFilter is defined and hostvars[inventory_hostname].loggingFilter|length %}
         -l{{ hostvars[inventory_hostname].loggingFilter }} \
         {% endif %}
         {% if substrate_use_default_spec is undefined or substrate_use_default_spec == 'false' %}
         --chain={{ substrate_chain }} \
         {% endif %}
         --no-telemetry

Restart=always

[Install]
WantedBy=multi-user.target
