---
- name: modify network
  gcp_compute_network:
    name: 'network-instance'
    project: "{{ gcp_project }}"
    auth_kind: "{{ gcp_cred_kind }}"
    service_account_file: "{{ gcp_cred_file }}"
    scopes:
      - https://www.googleapis.com/auth/compute
    state: "{{ state }}"
  register: network
